<div class="container job-list">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <!-- <h1 class="display-4">Job List</h1> -->
    <div class="title-txt">
      <h3>Job List</h3>
    </div>
    <div>
      <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selectedFilter ? selectedFilter : 'Select One'}}
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item" type="button">
                Started
            </button>
        </div>
      </div>
    </div>
  </div>

  <job-list-card
    [colList]="colList"
    [jobList]="jobList"
    (onCardClick)="navigateToJobDetail($event)"
  >
  </job-list-card>

</div>
