<div class="container job-list-card p-3">
  <div class="d-flex flex-row justify-content-around">
    <div *ngFor="let col of colList">
      <div
        class="col-field"
        *ngIf="col.isActive"
      >
        {{ col.colName }}
      </div>
    </div>
  </div>

  <div
    class="d-flex flex-row job-card justify-content-around"
    *ngFor="let data of jobList"
    (click)="onCardClicked(data['job_id'])"
  >
    <div *ngFor="let col of colList" class="my-auto">
      <div
        class="data-field d-flex  justify-content-end"
        *ngIf="col.isActive && col.type === 'text'"

      >
        <span>{{ data[col.key_name] ? data[col.key_name] : "-" }}</span>
      </div>

      <div
        class="data-field d-flex justify-content-end"
        *ngIf="col.isActive && col.type === 'list'"
      >
      <div class="col-12">
        <div class="row my-1" *ngFor="let listItem of data[col.key_name]">
            <span>{{listItem ? listItem : '-'}}</span>
        </div> 
      </div>

      </div>
    </div>
  </div>
</div>
