.job-list-card {
    background-color: #fff;
    box-shadow: 0 3px 6px hsla(0,0%,41.2%,.19),0 1px 4px hsla(0,0%,41.2%,.19);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    cursor: pointer;

    .col-field {
        text-align: start;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #a8acb2;
    }

    .data-field {
        font-weight: 500;
        color: #45546e;
        font-size: 14px;
    }

    .job-card {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .job-card:hover {
        background-color: #fafafa;
    }

}
