.dashboard {
    margin-top: 12%;
    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        // .card :hover {
        //     background-color: #cf0001;
        // }
    
        .card{
            min-width: 190px;
            max-width: 300px;
            height: 100px;
            justify-content: center;
            flex: 1;
            cursor: pointer;
            background-color: #fff;

            .c-r2{
    
                display: flex;
                align-items: center;

                span{
                    font-weight: 500;
                    font-size: 28px;
                }
            }
            .c-r1{
                span{
                    padding-top: 16px;
                    color: #45546e;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 500;
                }
            }
        }

        .card:hover {
            background-color: #fafafa;
        }

    }

    .sub-title {
        color: #fd5000;
        font-weight: 500;
        font-size: 15px;
    }
}