.dashboard {

    .card-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;

        // .card :hover {
        //     background-color: #cf0001;
        // }
    
        .card{
            min-width: 190px;
            max-width: 300px;
            height: 100px;
            align-items: center;
            justify-content: center;
            flex: 1;
            border-left: 2px solid #cf0001;
            cursor: pointer;

            .c-r1{
    
                display: flex;
                align-items: center;
    
                mat-icon{
                    color: #df514c;
                    margin-right: 0.5rem;
                }
                .done{
                    color: #68bf68 !important;
                }
                span{
                    font-weight: 500;
                    font-size: 23px;
                }
            }
            .c-r2{
                span{
                    padding-top: 16px;
                    color: gray;
                    display: inline-block;
                }
            }
        }
    }

}