.assigned-to-container {
    background-color: #fff!important;
    box-shadow: 0 3px 6px hsla(0,0%,41.2%,.19),0 1px 4px hsla(0,0%,41.2%,.19);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    min-height: 40vh;
    max-height: 60vh;

    .title-txt {
        color: #fd5000;
        font-weight: 500;
        font-size: 15px;
    }
}